
main {
    box-sizing: border-box;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    color: rgb(219,138,138);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.game__header {
    margin: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 4.5em;
    font-weight: bold;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.5em;
    font-weight: 600;
}

.game-main {
    margin-top: 10px;
    position: relative;
}

.grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.squares-container {
    position: absolute;
    z-index: 1;
}

.cell__square {
    position: absolute;
    z-index: 3;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    height: 120px;
    width: 120px;
    border: 5px solid;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 194, 194);
    margin-right: -10px;
    margin-bottom: -10px;
    box-sizing: border-box;
}

.cell__inner {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
    border: 5px solid #FBECF0;
    border-radius: 6px;
    background-color: #FBECF0;
    box-sizing: border-box;
}

.grid, .row, .cell {
    border-color: rgb(244,194,194);
}

.square__label {
    height: 100px;
    width: 100px;
    background-color: #E6A4B4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 6px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.square__label--new {
    animation-duration: 0.3s;
    animation-name: appear;
    animation-fill-mode: forwards;
}

@keyframes merge {
    0% {
        opacity: 1;
        scale: 1;
    }

    90% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 0;
    }
}

.square__label--merged {
    z-index: 2;
    animation-duration: 0.3s;
    animation-name: merge;
    animation-fill-mode: forwards;
}

.score__value {
    display: flex;
    flex-direction: column;
    margin-bottom: -0.8em;
}

@keyframes showValueDiff {
    0% {
        opacity: 1;
        transform: translate(0, -40px);
    }

    100% {
        opacity: 0;
        transform: translate(0, -60px);
    }
}

.score-value__value {
    align-self: flex-end;
}

.score-value__diff--showing {
    display: block !important;
    z-index: 2;
    animation-duration: 1s;
    animation-name: showValueDiff;
}

.score-value__diff {
    opacity: 0;
    position: relative;
    transform: translate(0, -40px);
    font-size: 0.8em;
    margin-left: 100%;
}

[data-value="0"] {
    background-color: #FBECF0;
}

[data-value="2"] {
    background-color: #FFF8E3;
}

[data-value="4"] {
    background-color: #F6D9D6;
}

[data-value="8"] {
    background-color: #F9F3CC;
}

[data-value="16"] {
    background-color: #D7E5CA;
}

[data-value="32"] {
    background-color: #C3DDD7;
}

[data-value="64"] {
    background-color: #EAF4FA; 
}

[data-value="128"] {
    background-color: #CEE3EF;
}

[data-value="256"] {
    background-color: #F4C3D0;
}

[data-value="512"] {
    background-color: #CBC6D9;
}

[data-value="1024"] {
    background-color: #AAD7D9;
}

[data-value="2048"] {
    background-color: #E0D7FF;
}
