
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: rgb(219,138,138);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.header {
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 10px solid;
    border-radius: 6px;
    /* background-color: peru; */
}

.row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-bottom: 10px solid;
    /* background-color: peru; */
}

.cell {
    height: 100px;
    width: 100px;
    border-right: 10px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBECF0;
}

.grid, .row, .cell {
    border-color: rgb(244,194,194);
}

.row:last-child {
    border: none;
}

.cell:last-child {
    border: none;
}

@keyframes emergence {
    from {
        width: 0px;
        height: 0px;
        font-size: 0rem;
    }

    to {
        height: 100px;
        width: 100px;
        font-size: 2rem;
    }
}

.emergence {
    animation-duration: 0.5s;
    animation-name: emergence;
}

@keyframes slideDown {
    from {
        position: relative;
        top: -40px;
    }

    to {
        position: relative;
        top: 0;
    }
}

.slide-down {
    animation-duration: 0.5s;
    animation-name: slideDown;
}

@keyframes slideUp {
    from {
        position: relative;
        bottom: -40px;
    }

    to {
        position: relative;
        bottom: 0;
    }
}

.slide-up {
    animation-duration: 0.5s;
    animation-name: slideUp;
}

@keyframes slideLeft {
    from {
        position: relative;
        right: -40px;
    }

    to {
        position: relative;
        right: 0;
    }
}

.slide-left {
    animation-duration: 0.5s;
    animation-name: slideLeft;
}

@keyframes slideRight {
    from {
        position: relative;
        left: -40px;
    }

    to {
        position: relative;
        left: 0;
    }
}

.slide-right {
    animation-duration: 0.5s;
    animation-name: slideRight;
}

.square {
    height: 100px;
    width: 100px;
    background-color: #E6A4B4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 6px;
}

[data-value="0"] {
    background-color: #FBECF0;
}

[data-value="2"] {
    background-color: #FFF8E3;
}

[data-value="4"] {
    background-color: #F6D9D6;
}

[data-value="8"] {
    background-color: #F9F3CC;
}

[data-value="16"] {
    background-color: #D7E5CA;
}

[data-value="32"] {
    background-color: #C3DDD7;
}

[data-value="64"] {
    background-color: #EAF4FA; 
}

[data-value="128"] {
    background-color: #CEE3EF;
}

[data-value="256"] {
    background-color: #F4C3D0;
}

[data-value="512"] {
    background-color: #CBC6D9;
}

[data-value="1024"] {
    background-color: #AAD7D9;
}

[data-value="2048"] {
    background-color: #E0D7FF;
}
